@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Variables */
  --color-background:#161616;
  --color-text:#f5f5f5;
  --default-font: 'Poppins', sans-serif;
  --title-font: 'Archivo Black', sans-serif;
}


html {
  /* color-scheme: lidark; */
  font-family: var(--default-font);
  font-weight: 400;
}

body {
  background: var(--color-background);
  color: var(--color-text);
}