.feed_fetcher {
    width: 98%;
    height: calc(100dvh - 8rem);
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feed_fetcher::-webkit-scrollbar {
    width: 5px;
    height: 0;
    background: transparent;
}

.feed_fetcher::-webkit-scrollbar-thumb {
    background: #a988ff;
    border-radius: 10px;
}