.post_card {
    width: 30%;
    min-width: 200px;
    min-height: 150px;
    margin: .2rem;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: .3rem;
    padding: .5rem;
    color: #202124 !important;
}

.post_card_title h1 {
    font-size: 1.4rem;
    font-weight: 700 !important;
    margin: 0;
    color: #202124 !important;
}

.post_card_title p {
    font-size: .6rem;
    font-weight: 500;
    margin: 0;
    opacity: .7;
    color: #202124 !important;
}